---
import Layout from "../../layouts/Layout.astro";
const name: string = "Taro Yamada";
const astro_svg: string = "./assets/astro.svg"
---


<Layout title="dir">
  <h2>Hello, {name}!!!</h2>
</Layout>